/* General styles */
.container {
  font-family: Arial, sans-serif;
  margin-top: 20px;
}

header {
  margin-bottom: 30px;
}

.navbar-brand {
  font-weight: bold;
  color: #333;
}

.nav-item {
  margin-left: 5px;
  margin-right: 5px;
}

  /* Highlight the active route */
  .nav-item .active {
    color: #007BFF; /* This is a Bootstrap primary color; adjust as needed */
    border-bottom: 2px solid #007BFF;
    padding-bottom: 3px;
  }

/* Main content area */
main {
  margin-top: 30px;
}
